dify/valentine-analysis.yml
app:
  description: >-
    バレンタイン対象者の情報を受け取り、3軸スコアリング・ランク判定・ギフト提案・メッセージ生成・質問生成を行うワークフロー。
    LLMには定性分析のみを担当させ、数値計算はすべてCodeノードで確定計算する。
  icon: "\U0001F496"
  icon_background: "#FFE4E6"
  mode: workflow
  name: ValenTactics Analysis
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
      - data:
          isInIteration: false
          sourceType: start
          targetType: code
        id: edge-start-to-preprocess
        source: start
        sourceHandle: source
        target: code-preprocess
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: code
          targetType: llm
        id: edge-preprocess-to-llm
        source: code-preprocess
        sourceHandle: source
        target: llm-analysis
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: llm
          targetType: code
        id: edge-llm-to-postprocess
        source: llm-analysis
        sourceHandle: source
        target: code-postprocess
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          sourceType: code
          targetType: end
        id: edge-postprocess-to-end
        source: code-postprocess
        sourceHandle: source
        target: end-output
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      # ════════════════════════════════════════
      #  Start Node: 入力変数
      # ════════════════════════════════════════
      - data:
          desc: "対象者の全情報を受け取る"
          title: Start
          type: start
          variables:
            - label: 名前
              max_length: 48
              required: true
              type: text-input
              variable: name
            - label: 関係性
              max_length: 48
              required: true
              type: text-input
              variable: relationship
            - label: 利益タイプ
              max_length: 8
              required: true
              type: text-input
              variable: benefit_type
            - label: 性格
              max_length: 256
              required: false
              type: text-input
              variable: personality
            - label: 好みタグ
              max_length: 512
              required: false
              type: text-input
              variable: preferences
            - label: 最近の関心事
              max_length: 512
              required: false
              type: text-input
              variable: recent_interests
            - label: ギフト反応
              max_length: 48
              required: false
              type: text-input
              variable: gift_reaction
            - label: 相手の行動指標
              max_length: 512
              required: false
              type: text-input
              variable: recipient_actions
            - label: 最近のエピソード
              max_length: 512
              required: false
              type: text-input
              variable: recent_episodes
            - label: 関係性の目標
              max_length: 48
              required: true
              type: text-input
              variable: relationship_goal
            - label: 感情的重要度
              max_length: 8
              required: true
              type: text-input
              variable: emotional_priority
            - label: 義理認識
              max_length: 48
              required: false
              type: text-input
              variable: giri_awareness
            - label: お返し傾向
              max_length: 48
              required: false
              type: text-input
              variable: return_tendency
            - label: 去年渡したか
              max_length: 8
              required: true
              type: text-input
              variable: gave_last_year
            - label: お返しあったか
              max_length: 8
              required: true
              type: text-input
              variable: received_return
            - label: お返し金額
              max_length: 16
              required: false
              type: text-input
              variable: return_value
            - label: 一昨年渡したか
              max_length: 8
              required: true
              type: text-input
              variable: gave_year_before
            - label: 一昨年お返し
              max_length: 8
              required: true
              type: text-input
              variable: received_return_year_before
            - label: 予算
              max_length: 16
              required: true
              type: text-input
              variable: budget
            - label: メモ
              max_length: 512
              required: false
              type: text-input
              variable: memo
        height: 900
        id: start
        position:
          x: 80
          y: 282
        type: custom
        width: 244

      # ════════════════════════════════════════
      #  Code Node: 前処理（確定計算）
      #  親密度ベース・ROI・カウントフラグを算出
      # ════════════════════════════════════════
      - data:
          code: |
            def main(
                recipient_actions: str,
                gave_last_year: str,
                received_return: str,
                return_value: str,
                gave_year_before: str,
                received_return_year_before: str,
                budget: str,
                return_tendency: str,
                personality: str,
                preferences: str,
                recent_interests: str,
                recent_episodes: str,
                gift_reaction: str,
            ) -> dict:
                ACTION_WEIGHTS = {
                    "相手から連絡が来る": 7,
                    "プライベートな話題を振られる": 8,
                    "食事や飲みに誘われた": 10,
                    "仕事やプライベートの相談をされる": 10,
                    "誕生日やイベントを覚えてくれる": 9,
                    "2人きりの時間を作ってくれる": 12,
                    "自分の変化に気づいてくれる": 8,
                    "過去の会話内容を覚えている": 7,
                    "弱みや愚痴を見せてくれる": 10,
                }

                actions = [a.strip() for a in recipient_actions.split(",") if a.strip()] if recipient_actions else []
                action_count = len(actions)

                action_sum = sum(ACTION_WEIGHTS.get(a, 0) for a in actions)
                intimacy_base = 5 + int(action_sum * 0.7)

                gave_ly = gave_last_year == "はい"
                got_return = received_return == "はい"
                gave_yb = gave_year_before == "はい"
                got_return_yb = received_return_year_before == "はい"

                if gave_ly and got_return:
                    intimacy_base += 3
                if gave_yb and got_return_yb:
                    intimacy_base += 2

                # ROI score (deterministic)
                budget_val = max(500, int(budget)) if budget.isdigit() else 1500
                return_val = int(return_value) if return_value and return_value.isdigit() else 0

                if gave_ly and got_return:
                    if return_val <= 0:
                        roi_score = 55
                    else:
                        mult = return_val / budget_val
                        if mult >= 3:
                            roi_score = 95
                        elif mult >= 2:
                            roi_score = 85
                        elif mult >= 1:
                            roi_score = 72
                        else:
                            roi_score = 57
                elif gave_ly and not got_return:
                    if gave_yb and not got_return_yb:
                        roi_score = 8
                    else:
                        roi_score = 22
                elif gave_yb and got_return_yb:
                    roi_score = 48
                else:
                    roi_score = 35

                tendency_mod = {"律儀に返す": 18, "気分次第": 0, "返さないタイプ": -20, "不明": 0}
                roi_score += tendency_mod.get(return_tendency or "", 0)
                roi_score = max(0, min(100, roi_score))

                personality_list = [p.strip() for p in personality.split(",") if p.strip()] if personality else []
                preferences_list = [p.strip() for p in preferences.split(",") if p.strip()] if preferences else []

                return {
                    "intimacy_base": intimacy_base,
                    "roi_score": roi_score,
                    "action_count": action_count,
                    "personality_count": len(personality_list),
                    "preference_count": len(preferences_list),
                    "has_recent_interests": "true" if recent_interests and len(recent_interests.strip()) > 0 else "false",
                    "has_episodes": "true" if recent_episodes and len(recent_episodes.strip()) > 10 else "false",
                    "gift_reaction_known": "true" if gift_reaction and gift_reaction != "不明" else "false",
                    "return_tendency_known": "true" if return_tendency and return_tendency != "不明" else "false",
                }
          code_language: python3
          desc: "親密度ベース・ROI・カウントフラグを確定計算"
          outputs:
            intimacy_base:
              children: null
              type: number
            roi_score:
              children: null
              type: number
            action_count:
              children: null
              type: number
            personality_count:
              children: null
              type: number
            preference_count:
              children: null
              type: number
            has_recent_interests:
              children: null
              type: string
            has_episodes:
              children: null
              type: string
            gift_reaction_known:
              children: null
              type: string
            return_tendency_known:
              children: null
              type: string
          title: 前処理
          type: code
          variables:
            - value_selector: [start, recipient_actions]
              variable: recipient_actions
            - value_selector: [start, gave_last_year]
              variable: gave_last_year
            - value_selector: [start, received_return]
              variable: received_return
            - value_selector: [start, return_value]
              variable: return_value
            - value_selector: [start, gave_year_before]
              variable: gave_year_before
            - value_selector: [start, received_return_year_before]
              variable: received_return_year_before
            - value_selector: [start, budget]
              variable: budget
            - value_selector: [start, return_tendency]
              variable: return_tendency
            - value_selector: [start, personality]
              variable: personality
            - value_selector: [start, preferences]
              variable: preferences
            - value_selector: [start, recent_interests]
              variable: recent_interests
            - value_selector: [start, recent_episodes]
              variable: recent_episodes
            - value_selector: [start, gift_reaction]
              variable: gift_reaction
        height: 54
        id: code-preprocess
        position:
          x: 380
          y: 282
        type: custom
        width: 244

      # ════════════════════════════════════════
      #  LLM Node: 定性分析
      #  数値計算は一切行わない
      # ════════════════════════════════════════
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "エピソード評価・戦略適合度・定性コンテンツを生成"
          model:
            completion_params:
              temperature: 0.3
              max_tokens: 4096
            mode: chat
            name: gpt-4o
            provider: openai
          prompt_template:
            - id: system-prompt
              role: system
              text: >-
                あなたはバレンタイン投資戦略のアナリストです。


                ═══════════════════════════════════════

                【分析の最終目的】

                ═══════════════════════════════════════


                ユーザーの利益を最大化するバレンタイン投資判断を導くこと。

                利益とは以下の2種類を指します:
                - 有形利益: ホワイトデーのお返しによる金銭的リターン（ROI）
                - 無形利益: 関係性の進展・維持・好印象の獲得

                ユーザーが選択した利益タイプ（benefit_type）に基づき、
                投資対効果が最も高くなる分析と戦略を提案してください。
                すべての判断はこの目的に照らして行うこと。


                ═══════════════════════════════════════

                【あなたの役割と制約】

                ═══════════════════════════════════════


                以下の値はすでにCodeノードで確定計算済みです:
                - intimacy_base（親密度ベース: 行動指標の重み合計 + 過去双方向実績）
                - roi_score（ROIスコア: 過去データ + お返し傾向から算出）

                あなたの仕事は以下の3つだけです:
                1. エピソード評価 → episodeEval (0〜20の整数)
                2. 戦略適合度の包括的評価 → scoreGiftFit (0〜100の整数)
                3. 定性コンテンツ生成: ギフト提案、メッセージ、ストーリー、質問、ランク理由、リスク警告

                重要: 総合スコア・ランク・ROI予測・成功タイプの計算はCodeノードが行います。
                あなたは四則演算を一切行わないでください。


                ═══════════════════════════════════════

                【1. エピソード評価】(episodeEval, 0〜20の整数)

                ═══════════════════════════════════════


                recent_episodes の内容を読み、「相手→ユーザー」への好意的行動の質と量を判断:

                - 15〜20: 相手からの強い能動的行動が複数含まれる（相談+誘い+助けてくれた等）
                - 10〜14: 相手からの能動的な行動が含まれる（相談された、誘われた、助けてもらった等）
                - 5〜9: 双方向のやりとり（一緒に何かした等）
                - 0〜4: 自分からの一方的な行動のみ、または内容が曖昧
                - 0: 空欄・無関係な内容

                ※ チェックリストに収まらない具体的な行動事実を拾う重要な評価軸です。


                ═══════════════════════════════════════

                【2. 戦略適合度】(scoreGiftFit, 0〜100の整数)

                ═══════════════════════════════════════


                「最適化されたギフト戦略が、この人にどれだけ効果を発揮しうるか」を包括的に判断する。
                この軸は「ユーザーの利益最大化」に直結する — ギフトが刺されば有形ならお返しの質が上がり、無形なら好印象が最大化される。


                【コンテキスト情報（相手の性質）】
                - personality（性格タグ）
                - preferences（好みタグ）
                - recent_interests（最近の関心事）
                - gift_reaction（ギフト反応タイプ）

                ※ これらは「知っている数」をスコアにするものではない。
                性質はあくまでコンテキスト。行動事実や実績と組み合わせて判断すること。


                【判断基準】
                1. 性質と行動の整合性:
                   行動指標・エピソードと性質が噛み合っているほど、ギフト戦略の精度が上がる。
                   例: 「グルメ」な人に「食事に誘われた」→ 食の好みを軸にしたギフトが高確率で刺さる
                   例: 「恐縮するタイプ」+「2人きりの時間を作ってくれる」→ さりげない渡し方が最適
                2. 性質情報の充実度と一貫性:
                   情報が多く矛盾がなければ、最適なギフトを絞り込める可能性が高い。
                   情報がゼロや矛盾だらけなら、ギフト提案の精度は下がる。
                3. ギフト戦略の実行可能性:
                   行動指標やエピソードから見て、ギフトを渡す自然な機会があるか。
                   相手がギフトを好意的に受け取る土壌（行動的な好意）があるか。


                【スコア目安】
                - 80〜100: 性質が豊富で行動との整合性が高く、高精度なギフト戦略が可能
                - 60〜79: ある程度の性質情報があり、行動事実と組み合わせて有効な戦略が立てられる
                - 40〜59: 情報は限定的だが、一部の手がかりからそれなりの提案が可能
                - 20〜39: 情報が乏しく、汎用的な提案しかできない
                - 0〜19: ほぼ情報なし。ギフト最適化の余地がほとんどない


                ═══════════════════════════════════════

                【3. ランク理由】(rankReason, 自由文)

                ═══════════════════════════════════════


                この人への投資判断の理由を、1〜2文の自然な日本語で述べてください。
                テンプレートではなく、この人に固有の状況を踏まえた文章を書くこと。

                以下の要素を適宜織り込む:
                - benefit_type に照らした投資効率の見通し
                - emotional_priority（感情的重要度）が高い場合はその意向を尊重
                - relationship_goal（関係目標）の方向性
                - 主要なスコアの傾向（intimacy_base, roi_score を参考に）


                ═══════════════════════════════════════

                【4. ギフト提案ルール】

                ═══════════════════════════════════════


                予算と好みタグに基づいて、具体的な商品名・価格・選定理由を提案してください。
                利益最大化の観点で: 有形タイプなら「お返しを引き出しやすいギフト」、無形タイプなら「好印象を最大化するギフト」を意識すること。

                予算帯の目安:
                - 3000円以上: プレミアムギフト
                - 1500〜2999円: ミドルギフト
                - 1500円未満: カジュアルギフト

                好みタグに合致する商品を優先。合致しない場合はバレンタイン定番ギフトを提案。
                価格はbudget以下に収めること。
                サプライズ好きなら「サプライズ演出を添えると効果倍増」と添える。


                ═══════════════════════════════════════

                【5. メッセージ生成ルール】

                ═══════════════════════════════════════


                relationship に応じたトーンで、2〜3行のメッセージを生成:
                - パートナー: 感謝と愛情。温かく親密なトーン
                - 気になる人: さりげなく、距離感を保ちつつ好意を伝える
                - 上司: 敬語。感謝と敬意
                - 同僚: カジュアル。「お疲れさま」的な温度感
                - 友人: フランク。気を遣わない雰囲気
                - その他: 丁寧だが距離感のある万能トーン

                giri_awareness の考慮:
                - 「義理と認識される」→ ビジネスライクなトーンに寄せる
                - 「本命と受け取られる可能性あり」→ 誤解を生まない距離感に注意


                ═══════════════════════════════════════

                【6. ストーリー生成ルール（無形タイプのみ）】

                ═══════════════════════════════════════


                benefit_type が「無形」の場合のみ、渡し方のストーリーを生成してください。
                - ギフト反応タイプに合わせてトーン調整
                - 最近の関心事があれば織り込む
                - 最近のエピソードがあれば距離感の描写に活用する
                - 3〜5文程度の具体的なシナリオ
                - 有形タイプの場合は空文字列


                ═══════════════════════════════════════

                【7. 質問生成ルール】

                ═══════════════════════════════════════


                情報が不足している項目について、対象者を深掘りするための質問を最大5つ生成。
                質問は「利益最大化のために何を知るべきか」の観点で優先順位をつけること。

                以下のフラグを参考にしてください（Codeノードで事前計算済み）:
                - action_count（行動指標の件数。0ならまず行動指標を問う）
                - personality_count（性格タグの件数）
                - preference_count（好みタグの件数）
                - has_recent_interests（最近の関心事の有無）
                - has_episodes（エピソードの有無）
                - gift_reaction_known（ギフト反応が既知か）

                優先度順: 行動指標 > エピソード > 好み > 性格 > 関心事 > ギフト反応 > お返し傾向


                ═══════════════════════════════════════

                【8. リスク警告】(riskWarning, 任意)

                ═══════════════════════════════════════


                以下の条件に該当する場合、適切な警告文を生成:
                - giri_awareness が「本命と受け取られる可能性あり」→ 誤解リスクの警告
                - relationship_goal が「距離を置きたい」→ ギフト自体の必要性を問う
                - emotional_priority が1〜2で予算が高い → コスト対効果の再考を促す

                該当なしの場合は空文字列。


                ═══════════════════════════════════════

                【出力フォーマット】

                ═══════════════════════════════════════


                以下のJSON形式で出力してください。JSON以外のテキストは絶対に含めないでください。

                {
                  "episodeEval": <0〜20の整数>,
                  "scoreGiftFit": <0〜100の整数>,
                  "rankReason": "<投資判断の理由。自然な1〜2文>",
                  "giftItem": "<ギフト名>",
                  "giftPrice": <price as integer>,
                  "giftReason": "<選定理由>",
                  "giftStory": "<渡し方のストーリー。無形タイプのみ。有形は空文字>",
                  "message": "<メッセージ文面>",
                  "questions": ["<質問1>", "<質問2>", ...],
                  "riskWarning": "<リスク警告。該当なしは空文字>"
                }

            - id: user-prompt
              role: user
              text: >-
                以下の対象者情報を分析してください。


                ── 対象者データ ──

                名前: {{#start.name#}}

                関係性: {{#start.relationship#}}

                利益タイプ: {{#start.benefit_type#}}

                性格: {{#start.personality#}}

                好みタグ: {{#start.preferences#}}

                最近の関心事: {{#start.recent_interests#}}

                ギフト反応: {{#start.gift_reaction#}}

                相手の行動指標: {{#start.recipient_actions#}}

                最近のエピソード: {{#start.recent_episodes#}}

                関係性の目標: {{#start.relationship_goal#}}

                感情的重要度: {{#start.emotional_priority#}}

                義理認識: {{#start.giri_awareness#}}

                予算: {{#start.budget#}}円

                メモ: {{#start.memo#}}

                ── 事前計算済みの値（Codeノードで確定計算済み）──

                親密度ベース: {{#code-preprocess.intimacy_base#}}

                ROIスコア: {{#code-preprocess.roi_score#}}

                行動指標数: {{#code-preprocess.action_count#}}

                性格タグ数: {{#code-preprocess.personality_count#}}

                好みタグ数: {{#code-preprocess.preference_count#}}

                関心事あり: {{#code-preprocess.has_recent_interests#}}

                エピソードあり: {{#code-preprocess.has_episodes#}}

                ギフト反応既知: {{#code-preprocess.gift_reaction_known#}}

                お返し傾向既知: {{#code-preprocess.return_tendency_known#}}

          title: 定性分析
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: llm-analysis
        position:
          x: 680
          y: 282
        type: custom
        width: 244

      # ════════════════════════════════════════
      #  Code Node: 後処理（確定計算）
      #  総合スコア・ランク・成功タイプ・ROI予測
      # ════════════════════════════════════════
      - data:
          code: |
            import json
            import re

            def main(
                llm_output: str,
                intimacy_base: int,
                roi_score: int,
                benefit_type: str,
                emotional_priority: str,
                relationship_goal: str,
                received_return: str,
                return_value: str,
                giri_awareness: str,
                relationship: str,
            ) -> dict:
                text = llm_output.strip()
                match = re.search(r'```(?:json)?\s*([\s\S]*?)\s*```', text)
                if match:
                    text = match.group(1)
                start_idx = text.find('{')
                end_idx = text.rfind('}')
                if start_idx != -1 and end_idx != -1:
                    text = text[start_idx:end_idx+1]

                try:
                    data = json.loads(text)
                except json.JSONDecodeError:
                    data = {}

                def clamp_int(v, lo, hi, default=None):
                    if default is None:
                        default = (lo + hi) // 2
                    try:
                        return max(lo, min(hi, int(v)))
                    except (TypeError, ValueError):
                        return default

                # LLM outputs
                episode_eval = clamp_int(data.get("episodeEval"), 0, 20, 0)
                score_gift_fit = clamp_int(data.get("scoreGiftFit"), 0, 100, 50)

                # Final intimacy = base + episode evaluation, clamped to 0-100
                score_intimacy = min(100, max(0, int(intimacy_base) + episode_eval))
                score_roi = max(0, min(100, int(roi_score)))

                # Total score (weighted by benefit_type)
                if benefit_type == "有形":
                    score_total = round(score_intimacy * 0.25 + score_roi * 0.55 + score_gift_fit * 0.20)
                else:
                    score_total = round(score_intimacy * 0.30 + score_roi * 0.15 + score_gift_fit * 0.55)
                score_total = max(0, min(100, score_total))

                # Rank determination
                if score_total >= 80:
                    rank = "S"
                elif score_total >= 60:
                    rank = "A"
                elif score_total >= 40:
                    rank = "B"
                else:
                    rank = "C"

                # Emotional priority floor (損切り防止)
                ep = clamp_int(emotional_priority, 1, 5, 3)
                if ep >= 5 and rank in ("B", "C"):
                    rank = "A"
                elif ep >= 4 and rank == "C":
                    rank = "B"

                # 距離を置きたい + 重要度低い → ランク上限制限
                if relationship_goal == "距離を置きたい" and ep <= 2:
                    if rank in ("S", "A"):
                        rank = "B"

                # Success type
                if relationship_goal == "距離を置きたい" and ep <= 2:
                    success_type = "損切り推奨"
                elif benefit_type == "有形" and score_roi >= 60 and ep >= 4:
                    success_type = "完全成功"
                elif benefit_type == "有形" and score_roi >= 50:
                    success_type = "投資型"
                elif benefit_type == "無形" and ep >= 4:
                    success_type = "感情型"
                elif benefit_type == "無形" and score_intimacy >= 50:
                    success_type = "関係構築型"
                elif ep >= 4:
                    success_type = "感情型"
                else:
                    success_type = "要検討"

                # giri_awareness ペナルティ: 恋愛対象でない相手に本命と思われるリスク
                if (giri_awareness == "本命と受け取られる可能性あり"
                        and relationship not in ("気になる人", "パートナー")):
                    if rank == "S":
                        rank = "A"
                    elif rank == "A":
                        rank = "B"
                    elif rank == "B":
                        rank = "C"

                # ROI prediction
                got_return = received_return == "はい"
                return_val = int(return_value) if return_value and return_value.isdigit() else 0

                if got_return:
                    return_probability = min(0.95, 0.5 + score_roi * 0.004)
                    rv = return_val if return_val > 0 else 1000
                    expected_multiplier = round(1.0 + rv / 2000, 2)
                else:
                    return_probability = max(0.05, score_roi * 0.005)
                    expected_multiplier = round(0.3 + score_intimacy * 0.008, 2)
                return_probability = round(return_probability, 2)

                return {
                    "scoreIntimacy": score_intimacy,
                    "scoreRoi": score_roi,
                    "scoreGiftFit": score_gift_fit,
                    "scoreTotal": score_total,
                    "rank": rank,
                    "successType": success_type,
                    "rankReason": str(data.get("rankReason", ""))[:300],
                    "giftItem": str(data.get("giftItem", "焼き菓子アソート"))[:100],
                    "giftPrice": clamp_int(data.get("giftPrice"), 100, 100000, 1500),
                    "giftReason": str(data.get("giftReason", ""))[:200],
                    "giftStory": str(data.get("giftStory", ""))[:500],
                    "message": str(data.get("message", "ほんの気持ちですが、どうぞ。"))[:500],
                    "returnProbability": return_probability,
                    "expectedMultiplier": expected_multiplier,
                    "questions": [str(q)[:200] for q in data.get("questions", []) if isinstance(q, str)][:5],
                    "riskWarning": str(data.get("riskWarning", ""))[:300],
                }
          code_language: python3
          desc: "総合スコア・ランク・成功タイプ・ROI予測を確定計算"
          outputs:
            scoreIntimacy:
              children: null
              type: number
            scoreRoi:
              children: null
              type: number
            scoreGiftFit:
              children: null
              type: number
            scoreTotal:
              children: null
              type: number
            rank:
              children: null
              type: string
            successType:
              children: null
              type: string
            rankReason:
              children: null
              type: string
            giftItem:
              children: null
              type: string
            giftPrice:
              children: null
              type: number
            giftReason:
              children: null
              type: string
            giftStory:
              children: null
              type: string
            message:
              children: null
              type: string
            returnProbability:
              children: null
              type: number
            expectedMultiplier:
              children: null
              type: number
            questions:
              type: array[string]
            riskWarning:
              children: null
              type: string
          title: 後処理
          type: code
          variables:
            - value_selector: [llm-analysis, text]
              variable: llm_output
            - value_selector: [code-preprocess, intimacy_base]
              variable: intimacy_base
            - value_selector: [code-preprocess, roi_score]
              variable: roi_score
            - value_selector: [start, benefit_type]
              variable: benefit_type
            - value_selector: [start, emotional_priority]
              variable: emotional_priority
            - value_selector: [start, relationship_goal]
              variable: relationship_goal
            - value_selector: [start, received_return]
              variable: received_return
            - value_selector: [start, return_value]
              variable: return_value
            - value_selector: [start, giri_awareness]
              variable: giri_awareness
            - value_selector: [start, relationship]
              variable: relationship
        height: 54
        id: code-postprocess
        position:
          x: 980
          y: 282
        type: custom
        width: 244

      # ════════════════════════════════════════
      #  End Node: 出力
      # ════════════════════════════════════════
      - data:
          desc: ""
          outputs:
            - value_selector: [code-postprocess, scoreIntimacy]
              variable: scoreIntimacy
            - value_selector: [code-postprocess, scoreRoi]
              variable: scoreRoi
            - value_selector: [code-postprocess, scoreGiftFit]
              variable: scoreGiftFit
            - value_selector: [code-postprocess, scoreTotal]
              variable: scoreTotal
            - value_selector: [code-postprocess, rank]
              variable: rank
            - value_selector: [code-postprocess, successType]
              variable: successType
            - value_selector: [code-postprocess, rankReason]
              variable: rankReason
            - value_selector: [code-postprocess, giftItem]
              variable: giftItem
            - value_selector: [code-postprocess, giftPrice]
              variable: giftPrice
            - value_selector: [code-postprocess, giftReason]
              variable: giftReason
            - value_selector: [code-postprocess, giftStory]
              variable: giftStory
            - value_selector: [code-postprocess, message]
              variable: message
            - value_selector: [code-postprocess, returnProbability]
              variable: returnProbability
            - value_selector: [code-postprocess, expectedMultiplier]
              variable: expectedMultiplier
            - value_selector: [code-postprocess, questions]
              variable: questions
            - value_selector: [code-postprocess, riskWarning]
              variable: riskWarning
          title: 分析結果
          type: end
        height: 400
        id: end-output
        position:
          x: 1280
          y: 282
        type: custom
        width: 244
